<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to Generic App</h1>

  <h2>
    This is the finest tagline of all time.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Search", microposts_path, class: "btn btn-lg btn-default" %>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Recent Activity</h3>
    <%= render 'shared/feed' %>
  </div>
</div>

<% end %>
