<h1>Search "Flits"</h1>
<div class="row">
<%= form_tag microposts_path, :class => "nicesearch", :method => 'get' do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], :class => "form-control" %>
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
<% end %>
</div>
        
<div class="row">
  <div class="col-md-12">
    <% if @searched %>
    <% if @feed_items.any? %>
      <h3>Your Glorious Search Results</h3>
    <% else %>
      <h3>No results found for that search term.</h3>
    <% end %>
    <% else %>
    <h3>Recent Flits</h3>
    <% end %>
    <%= render 'shared/feed' %>
  </div>
</div>

